{% extends "layout.html" %}

{% block head %}
   <link rel="stylesheet" href="/static/styles/home.css">
   <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock head %}

{% block body %}
   <div class="header-wrapper">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <h1>Welcome to Quizbowl & Chill</h1>
               <h3>A Quizbowl Site for the Future</h3>
            </div>
         </div>
      </div>
   </div>
   <div class="content-wrapper">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <center>
                  <img src="/static/logo.png">
               </center>
            </div>
            <div class="col-sm-12">
               <h3 class="heading">Instructions</h3>
               <ol>
                  <li>Press the 'Play' button in the top right corner</li>
                  <li>Hit submit and you'll be sent to a room</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
{% endblock body%}
