{% extends "gameplay/layout.html" %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static "gameplay/styles/about.css"  %}">
{% endblock head %}

{% block body %}
<div class="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>About us</h1>
			</div>
		</div>
	</div>
</div>

<div class="about-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<center>
					<img src="{% static "gameplay/logo.png" %}">
				</center>

				<div class="content">
					<h3 class="heading">Purpose</h3>
					<p>
						Quizbowl, like any other activity, requires practice for improvement. However, one of two problems always arise. If you're alone, the problem is that reading a question doesn't provide the same experience as listening to a reader. If you're in a group, the problem is that someone always has to sit out in order to read questions. 
					</p>
					<p>
						This website was designed to provide both a way for individuals to practice on their own and a way for groups to practice together without anyone sitting out.
					</p>
				</div>
				<div class="content">
					<h3 class="heading">About the Authors</h3>
					<p>
						This project began as a senior project at Thomas Jefferson High School for Science and Technology. 
						Since then, it has been refactored and improved with the hopes of becoming more useful to the Quizbowl community.
						We hope you enjoy!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
