<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"></meta>
      <link rel="canonical" href="https://user.tjhsst.edu/2017jschefer/">
      <link rel="stylesheet" href="/2017jschefer/static/lib/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="/2017jschefer/static/lib/jquery.min.js"></script>
      {% block head %}{% endblock %}
   </head>
   <body>
      <div class="link-wrapper">
         <div class="container">
            <div class="row">
               <div class="col-sm-6"></div>
               <a href="/2017jschefer/">
                  <div class="link-box col-sm-2">Home</div>
               </a>
               <a href="/2017jschefer/about.html">
                  <div class="link-box col-sm-2">About </div>
               </a>
               <a href="/2017jschefer/play.html">
                  <div class="link-box col-sm-2">Play</div>
               </a>
            </div>
         </div>
      </div>
      {% block body %}{% endblock%}
   </body>
<html>
