html 
{
  background-color: white;
}

a, p, h1, h2, h3, h4, h5, h6, span, div, body 
{
   font-family: Oxygen, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1
{
   color: white; 
   font-weight: 700;
}

h3
{
   color:white; 
}

.link-wrapper
{
   background-color: white;
}

.link-wrapper a
{
   text-align: center;
   font-size: 18px;
   color: #1a1aff;
}

.link-wrapper a:hover
{
   color: white;
}

.link-wrapper .link-box:hover
{
   border-radius: 3px;
   background-color: #1a1aff;
}
