html 
{
  background-color: white;
}

a, p, h1, h2, h3, h4, h5, h6, span, div, body 
{
   font-family: Oxygen, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1
{
   color: white; 
   font-weight: 700;
}

img
{
   padding-top: 15px;
   padding-bottom: 15px;
}

.heading
{
   color: black;
}

h3
{
   color: white;
}

.link-wrapper
{
   background-color: white;
}

.link-wrapper a
{
   text-align: center;
   font-size: 18px;
   color: #1a1aff;
}

.link-wrapper a:hover
{
   color: white;
}

.link-wrapper .link-box:hover
{
   border-radius: 3px;
   background-color: #1a1aff;
}

.popup-row
{
   position: relative ;
}

#popup
{
   display: -webkit-box ;
   display: -moz-box ;
   display: -ms-flexbox ;
   display: -webkit-flex ;
   display: flex ;
   z-index: 1 ;
   position: absolute ;
}

#popup form 
{
   padding: 15px ;
   border: 2px solid #1a1aff ;
   margin: 15px ;
   position: relative ;
   margin: 0 auto ;
   background-color: #d4d4d4 ;
   border-radius: 3px ;
}
